
body {   
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    justify-content:space-evenly;
    display: flex;
}
a {
    justify-content: center;
    display: flex;
    color: #000;
}
.image {
    display: block;
    margin: auto;
    width: 500px; 
    height:500px;

}

.title {
    justify-content: center;
    display: flex;
}
.cat {
    justify-content: center;
    display: flex;
}
.center-image {
    display: block;
    margin: auto;
    width: 500px; 
    height:400px;
}
.name {
    display: flex;
    align-self: baseline;
    flex-direction:row;
    justify-content: space-between;
}
.a1 {
    font-size: 40px;;
    justify-content: center;
    display: flex;
    color: #000;
}
.location {
    justify-content: center;
    display: flex;
}
