
body {   
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
}
img {
    width: 500px; 
    height:500px;
    display: grid;
}
p {
    justify-content:space-evenly;
    display: flex;
}
a {
    justify-content: center;
    display: flex;
}


.title {
    justify-content: center;
    display: flex;
}
.cat {
    justify-content: center;
    display: flex;
}
.center-image {
    display: block;
    margin: auto;
}
.name {
    display: flex;
    align-self: baseline;
    flex-direction:row;
    justify-content: space-between;
}
.a1 {
    font-size: x-large;
    justify-content: center;
    display: flex;
}
